page-home {
    .txten{
        //margin:5px;
        text-align:justify;
        color:white;
        font-size: 1.4rem;
        
    }
     .card{
        background-color:#28a745;
        padding:10px;
        margin-top:20px;
        margin-bottom:50px;
    }

    .vald{
        padding-top:10px;
    }
    .txten>a{
        color:black;
        font-size: 1.7rem;
    }
    
    .low>a{
        color: green;
        font-size: 1.7rem;
    }
   

   

}
